mat-card {
    width: 20%;
    margin-left: 8%;
}

#card_abbonamento {
    width: 20%;
    margin-left: 38%;
    margin-top: 2%;
}

button {
    color: black;
    background: greenyellow;
    margin-right: 5%;
}